<form method="post" action="{{ self.action }}">
    {% csrf_token %}

    {% for field in self.form %}
        <div class="input">
            {{ field.help_text }}
        <div>
        {{ field }}
        </div>
        <div>
        {% for error in field.errors %}
            <span class="error">
            {{ error }}
            </span>
        {% endfor %}
        </div>
        </div>
    {% endfor %}
    
    <button class="btn" type="submit">{{ self.form.submit_text }}</button>
</form>

