{% extends "base.html" %}

{% block sidebar_content %}
<h5>Aiemmat olot</h5>
    <ul>
    {% for story in self.stories %}
        <li><a href="{% url Story#show story.slug %}">{{ story.heading }}</a></li>
    {% empty %}
        <li>Ei oloja :(</li>
    {% endfor %}
    </ul>
{% endblock %}

{% block content %}
<div class="hero-unit">
    user
</div>

{% if self.is_you %}
<div class="row">
    <div class="span6">
        <h5>Voit päivittää kuvaustasi</h5>
        <a href="{% url UserProfile#edit self.request.user.username %}">
            <button class="btn primary">Tästä</button>
        </a>
    </div>
</div>
{% endif %}

{% endblock %}

