{% extends "base.html" %}

{% block sidebar_content %}
<h5>Aiemmat olot</h5>
    <ul>
    {% for story in self.stories %}
        <li><a href="{% url Story#show story.slug %}">{{ story.heading }}</a></li>
    {% empty %}
        <li>Ei oloja :(</li>
    {% endfor %}
    </ul>
{% endblock %}

{% block content %}
<h1>Käyttäjäprofiili</h1>
<div class="hero-unit">
    <h2>{{ self.profile.user.first_name }} {{ self.profile.user.last_name }}</h2>
    <p>Liittynyt: {{ self.profile.user.date_joined|date }}</p>
    <pre>
        {{ self.profile.description }}
    </pre>
</div>

{% if self.is_you %}
<div class="row">
    <div class="span6">
        <h5>Voit päivittää kuvaustasi</h5>
        <a href="{% url UserProfile#edit self.request.user.username %}">
            <button class="btn primary">Tästä</button>
        </a>
    </div>

    <div class="span6">
        <h5>Profiilin tietojen poisto</h5>
        Facebookin käyttöehtojen mukaan käyttäjien täytyy voida poistaa
        profiilinsa tiedot. Sen voi tehdä <a href="{% url clear %}">tästä</a>.
        Tiedot päivitetään jos päätät tulla takaisin :)
    </div>
</div>
{% endif %}

{% endblock %}

