{% extends "base.html" %}

{% block sidebar_content %}
    {{ block.super }}
    <h5>Viimeisimmät olot</h5>
    {% with recent as stories %}
    {% include "tags/story_list.html" %}
    {% endwith %}

    <h5>Huipuimmat olot</h5>
    {% with top_moods as stories %}
    {% include "tags/story_list.html" %}
    {% endwith %}
{% endblock sidebar_content %}

{% block content %}
<div class="hero-unit">
    <h1>olojapidellyt</h1>
    <p>
        Onko oloja pidellyt? <a href="{% url Story#new %}">Kerro siitä tästä!</a> Vaikka nimettomästi :)
    </p>
    <p>
    {% if not request.user.id %}
        Tai kirjaudu ensin sisään Facebookilla! Voit nähdä omalta sivultasi aiemmat
        olot ja luoda itsellesi profiilin.
        <form action="{% url facebook_connect %}?facebook_login=1" method="post">
        <a href="javascript:void(0);" style="font-size: 20px;" onclick="F.connect(this.parentNode);">
        <button class="btn primary">Facebook-kirjautuminen!</button></a>
        <input type="hidden" value="{{ request.path }}" name="next" />
        </form>
        <p>
        <em>Huom!</em> Kirjautuneenakin voit jättää <em>anonyymejä</em> oloja &dash; laita vain kuvitteellinen
        nimimerkki tai jätä kenttä tyhjäksi!
        </p>
    {% else %}
        Olet kirjautunut käyttäjänä <a href="{% url UserProfile#show request.user.username %}">{{ request.user.username }}</a>
    {% endif %}
    </p>
    <div id="fb-root">&nbsp;</div>
</div>

<div class="row">
    <div class="span6">
        {% if random_story %}
        <h4>Satunnainen olo<h4>
        <h5>{{ random_story.heading }}</h5>
        {% with random_story.get_description as descr %}
        <p>
            {{ descr }}
        </p>
        <p>
        {% if descr != random_story.content %}
            <a class="btn" href="{% url Story#show random_story.slug %}">Lue kokonaan! &raquo;</a>
        {% else %}
            <a class="btn" href="{% url Story#show random_story.slug %}">Katso! &raquo;</a>
        {% endif %}
        </p>
        {% endwith %}
        {% endif %}
    </div>

    <div class="span6">
        <h5>Kerro pikaisesti</h5>
        <div>
        {% include "tags/direct_form.html" %}
        </div>
    </div>
</div>
{% endblock %}

