{% extends "base.html" %}

{% block sidebar_content %}
    {{ block.super }}
    <h5>Viimeisimmät olot</h5>
    <ul>
    {% for story in recent %}
        <li><a href="{% url Story#show story.slug %}">{{ story.heading }}</a></li>
    {% empty %}
        <li>Ei tarinoita :(</li>
    {% endfor %}
    </ul>
{% endblock sidebar_content %}

{% block content %}
<div class="hero-unit">
    <h1>olojapidellyt</h1>
    <p>
        Onko oloja pidellyt? <a href="{% url Story#new %}">Kerro siitä tästä!</a>
    </p>
</div>

<div class="row">
    <div class="span6">
        {% if random_story %}
        <h4>Satunnainen olo<h4>
        <h5>{{ random_story.heading }}</h5>
        {% with random_story.get_description as descr %}
        <p>
            {{ descr }}
        </p>
        <p>
        {% if descr != random_story.content %}
            <a class="btn" href="{% url Story#show random_story.slug %}">Lue kokonaan! &raquo;</a>
        {% else %}
            <a class="btn" href="{% url Story#show random_story.slug %}">Katso! &raquo;</a>
        {% endif %}
        </p>
        {% endwith %}
        {% endif %}
    </div>
</div>
{% endblock %}

