{% extends "base.html" %}

{% block content %}
<h1>Käyttöehdot ym</h1>
<div class="hero-unit">
<h2>Anonymiteetti</h2>
<p>
Sivustolla voi kommentoida anonyymisti.
</p>
<p>
Kirjautuneet käyttäjät voivat myös jättää nimimerkin tyhjäksi, tai väärentää sen, jolloin kukaan muu kuin hän itse <em>ei</em> voi jäljittää olon julkaisijaa.
</p>

<h2>Facebookin käyttö</h2>
<p>
Facebookia käytetään (ainakin toistaiseksi) ainoastaan kirjautumiseen. Facebook-profiilin tiedot pyydetään yhteyttä avattaessa ja mahdollisuus poistaa tiedot tarjotaan profiilin sivulta. Muita tietoja ei silloin poisteta.
</p>

<h2>Tietosuoja</h2>
<p>
Emme luovuta tietoja eteenpäin.
</p>

</div>

{% endblock content %}

