{% extends "base.html" %}

{% block sidebar_content %}
    {{ block.super }}
    <h5>Viimeisimmät olot</h5>
    {% with self.recent as stories %}
    {% include "tags/story_list.html" %}
    {% endwith %}

    <h5>Huipuimmat olot</h5>
    {% with self.top_moods as stories %}
    {% include "tags/story_list.html" %}
    {% endwith %}
{% endblock sidebar_content %}

{% block content %}
<h1>Kerrottu {{ self.story.posted_at|date }}</h1>
<h3>{{ self.story.heading }}</h3>
<p>
    {{ self.story.content }}
</p>
<p>
    <em>-- 
        {% if self.story.username %}
            {% if self.story.username == self.story.user.username %}
        <a href="{% url UserProfile#show self.story.username %}">
            {{ self.story.username }}
        </a>
            {% else %}
        {{ self.story.username }}
            {% endif %}
        &mdash; fiilis {{ self.story.mood }}
        {% else %}
        Anonyymi &mdash; fiilis {{ self.story.mood }}
        {% endif %}
    </em>
</p>

<p>
    <a href="{% url index %}">
        <button class="btn primary">
            Takaisin etusivulle
        </button>
    </a>
    <a name="fb_share" type="button_count" href="http://www.facebook.com/sharer.php">Jaa olo facebookissa</a>
    <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
</p>

{% endblock content%}

